/*--------------------------------------------------------------
# Reset and Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  text-decoration: none;
  color: #000; }

a:hover {
  text-decoration: none;
  color: #000; }

a:focus, a:hover, a:active {
  outline: none; }

/*--------------------------------------------------------------
## Lists
--------------------------------------------------------------*/
nav ul,
nav ol,
ul,
li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/*--------------------------------------------------------------
## Fonts
--------------------------------------------------------------*/
@font-face {
  font-family: 'Montserrat';
  src: url("../../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../fonts/Montserrat-Regular.woff2") format("woff2"), url("../../fonts/Montserrat-Regular.woff") format("woff"), url("../../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../fonts/Montserrat-Bold.woff2") format("woff2"), url("../../fonts/Montserrat-Bold.woff") format("woff"), url("../../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

/*--------------------------------------------------------------
# Helpers
--------------------------------------------------------------*/
.loader {
  font-size: 30px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 28px auto;
  position: relative;
  transform: translateZ(0);
  animation: load6 1.7s infinite ease; }

.cover-img {
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1001);
  transition: 350ms ease; }

input::-ms-clear {
  display: none; }

.underline {
  width: calc(100%);
  background-image: linear-gradient(transparent calc(100% - 1px), #fff 1px);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 1s; }

/* Internet Explorer ruls */
@-webkit-keyframes load6 {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }

@keyframes load6 {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em; }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em; }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em; }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em; } }

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
.page-title {
  color: #252525;
  font-size: 80px;
  font-weight: 500;
  letter-spacing: 1.17px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.1; }
  @media screen and (max-width: 1200px) {
    .page-title {
      font-size: 75px; } }
  @media screen and (max-width: 991px) {
    .page-title {
      font-size: 55px; } }
  @media screen and (max-width: lg) {
    .page-title {
      font-size: 55px; } }
  @media screen and (max-width: 767px) {
    .page-title {
      font-size: 45px; } }
  @media screen and (max-width: md) {
    .page-title {
      font-size: 45px; } }
  @media screen and (max-width: 640px) {
    .page-title {
      font-size: 35px; } }

.section-title {
  color: #000;
  font-size: 77px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.8px; }
  @media screen and (max-width: 991px) {
    .section-title {
      font-size: 55px;
      line-height: 1.1; } }
  @media screen and (max-width: lg) {
    .section-title {
      font-size: 55px;
      line-height: 1.1; } }
  @media screen and (max-width: 767px) {
    .section-title {
      font-size: 40px; } }
  @media screen and (max-width: md) {
    .section-title {
      font-size: 40px; } }
  @media screen and (max-width: 640px) {
    .section-title {
      font-size: 35px; } }
  @media screen and (max-width: 576px) {
    .section-title {
      font-size: 30px; } }
  @media screen and (max-width: sm) {
    .section-title {
      font-size: 30px; } }

.section-title--line {
  position: relative;
  display: inline-block; }
  .section-title--line::after {
    content: '';
    background-color: #d0021b;
    height: 3px;
    width: 66%;
    position: absolute;
    left: 6px;
    bottom: -14px;
    transition: 350ms ease; }
    @media screen and (max-width: 576px) {
      .section-title--line::after {
        left: 50%;
        transform: translateX(-50%); } }
    @media screen and (max-width: sm) {
      .section-title--line::after {
        left: 50%;
        transform: translateX(-50%); } }

.section-title--small {
  font-size: 46px;
  letter-spacing: 2.17px; }
  @media screen and (max-width: 767px) {
    .section-title--small {
      font-size: 40px; } }
  @media screen and (max-width: md) {
    .section-title--small {
      font-size: 40px; } }
  @media screen and (max-width: 640px) {
    .section-title--small {
      font-size: 35px;
      letter-spacing: .17px; } }
  @media screen and (max-width: 576px) {
    .section-title--small {
      font-size: 30px; } }
  @media screen and (max-width: sm) {
    .section-title--small {
      font-size: 30px; } }
  .section-title--small sup {
    color: #d0021b; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
  padding: 0;
  margin: 0; }

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1460px; } }

.container--alt {
  max-width: 1650px; }

.site-content {
  margin-top: -102px; }
  @media screen and (max-width: 991px) {
    .site-content {
      margin-top: 0; } }
  @media screen and (max-width: lg) {
    .site-content {
      margin-top: 0; } }

/*--------------------------------------------------------------
# Parts
--------------------------------------------------------------*/
.btn {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  background-color: #3d9cd2;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  outline: none;
  min-width: 200px;
  transition: 350ms ease;
  position: relative; }
  .btn:hover {
    color: #000;
    transition: 350ms ease; }

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.header {
  z-index: 10; }

/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
.nav__wrapper {
  padding: 37px 30px 37px 28px;
  position: relative; }
  @media screen and (max-width: 991px) {
    .nav__wrapper {
      display: none; } }
  @media screen and (max-width: lg) {
    .nav__wrapper {
      display: none; } }

.nav__list {
  display: flex; }

.nav__list-item:not(:last-child) {
  margin-right: 48px; }

.nav__list-item-link, .nav__login-link {
  color: #4a4a4a;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 2px;
  transition: 350ms ease;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Montserrat", Arial, Helvetica, sans-serif; }
  .nav__list-item-link:hover, .nav__login-link:hover {
    color: #d0021b;
    transition: 350ms ease;
    text-decoration: none; }

.nav__login {
  position: absolute;
  right: -73px;
  top: 90px;
  transform: rotate(90deg); }
  .nav__login span {
    color: #d0021b;
    font-weight: 700;
    font-size: 14px;
    margin: 0 3px; }

.nav__login-link {
  color: #d0021b; }
  .nav__login-link:hover {
    color: #4a4a4a; }

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.footer {
  background-color: #262626; }

.footer__inner {
  padding: 91px 48px 32px;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 991px) {
    .footer__inner {
      padding: 30px; } }
  @media screen and (max-width: lg) {
    .footer__inner {
      padding: 30px; } }
  @media screen and (max-width: 767px) {
    .footer__inner {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  @media screen and (max-width: md) {
    .footer__inner {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.footer__left {
  padding-top: 13px; }
  @media screen and (max-width: 991px) {
    .footer__left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 0; } }
  @media screen and (max-width: lg) {
    .footer__left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 0; } }
  @media screen and (max-width: 767px) {
    .footer__left {
      flex-direction: column-reverse;
      margin-bottom: 25px; } }
  @media screen and (max-width: md) {
    .footer__left {
      flex-direction: column-reverse;
      margin-bottom: 25px; } }

.footer__left-list-wrap {
  margin-bottom: 30px; }
  @media screen and (max-width: 991px) {
    .footer__left-list-wrap {
      margin-bottom: 0; } }
  @media screen and (max-width: lg) {
    .footer__left-list-wrap {
      margin-bottom: 0; } }
  @media screen and (max-width: 767px) {
    .footer__left-list-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; } }
  @media screen and (max-width: md) {
    .footer__left-list-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; } }

.footer__left-list-item:not(:last-child) {
  margin-bottom: 5px; }

.footer__left-list-link {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -.2px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #fff;
  position: relative;
  transition: 350ms ease;
  display: inline-block; }
  .footer__left-list-link:hover {
    text-decoration: none;
    color: #fff; }
    .footer__left-list-link:hover::after {
      width: 100%;
      opacity: 1;
      transition: 350ms ease; }
  .footer__left-list-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    opacity: 0;
    width: 1%;
    height: 1px;
    background-color: #fff;
    transition: 350ms ease; }

@media screen and (max-width: 991px) {
  .footer__left-logo-wrap {
    max-width: 400px;
    width: 100%; } }

@media screen and (max-width: lg) {
  .footer__left-logo-wrap {
    max-width: 400px;
    width: 100%; } }

@media screen and (max-width: 767px) {
  .footer__left-logo-wrap {
    margin-bottom: 25px; } }

@media screen and (max-width: md) {
  .footer__left-logo-wrap {
    margin-bottom: 25px; } }

.footer__left-logo-wrap img {
  max-width: 100%;
  max-height: 100%; }

.footer__right {
  max-width: 250px;
  width: 100%;
  text-align: right; }
  @media screen and (max-width: 767px) {
    .footer__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; } }
  @media screen and (max-width: md) {
    .footer__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; } }

.footer__right-list-wrap {
  margin-bottom: 5px; }

.footer__right-list-title {
  display: block;
  color: #f5e9db;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .6px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 16px; }

.footer__right-list:first-of-type {
  margin-bottom: 31px; }
  @media screen and (max-width: 767px) {
    .footer__right-list:first-of-type {
      margin-bottom: 25px; } }
  @media screen and (max-width: md) {
    .footer__right-list:first-of-type {
      margin-bottom: 25px; } }

.footer__right-list-link {
  color: #e4e6e5;
  letter-spacing: 1px;
  font-weight: 500;
  transition: 350ms ease;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  display: block; }
  .footer__right-list-link:hover {
    text-decoration: none;
    color: #e4e6e5; }
    .footer__right-list-link:hover .underline {
      background-size: 100% 100%; }

.footer__right-icon-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 135px;
  margin-left: auto;
  margin-bottom: 8px; }
  @media screen and (max-width: 767px) {
    .footer__right-icon-wrap {
      max-width: 125px;
      width: 100%;
      margin: 0 auto 5px; } }
  @media screen and (max-width: md) {
    .footer__right-icon-wrap {
      max-width: 125px;
      width: 100%;
      margin: 0 auto 5px; } }

.footer__right-icon-link:hover {
  text-decoration: none;
  color: #f5e9db; }

.footer__right-icon-link i {
  font-family: "FontAwesome";
  color: #f5e9db;
  font-size: 15px;
  font-size: 30px;
  font-style: normal; }

.footer__right-copyright {
  display: block;
  color: #f5e9db;
  font-size: 14px;
  letter-spacing: 1px; }
  @media screen and (max-width: 767px) {
    .footer__right-copyright {
      text-align: center; } }
  @media screen and (max-width: md) {
    .footer__right-copyright {
      text-align: center; } }

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
.banner {
  background-image: url("../../img/banner.png");
  background-position: center center;
  background-size: cover;
  min-height: 785px;
  display: flex;
  align-items: center; }
  @media screen and (max-width: 1200px) {
    .banner {
      min-height: 660px; } }
  @media screen and (max-width: 991px) {
    .banner {
      min-height: 520px; } }
  @media screen and (max-width: lg) {
    .banner {
      min-height: 520px; } }
  @media screen and (max-width: 767px) {
    .banner {
      min-height: 400px; } }
  @media screen and (max-width: md) {
    .banner {
      min-height: 400px; } }
  @media screen and (max-width: 640px) {
    .banner {
      min-height: 300px; } }

@media screen and (max-width: 640px) {
  .banner__content {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 15px 0; } }

.banner__logo {
  margin-bottom: 57px; }
  @media screen and (max-width: 1200px) {
    .banner__logo {
      margin-bottom: 35px; } }
  @media screen and (max-width: 991px) {
    .banner__logo {
      max-width: 450px;
      margin-bottom: 20px; } }
  @media screen and (max-width: lg) {
    .banner__logo {
      max-width: 450px;
      margin-bottom: 20px; } }
  @media screen and (max-width: 767px) {
    .banner__logo {
      max-width: 380px; } }
  @media screen and (max-width: md) {
    .banner__logo {
      max-width: 380px; } }
  @media screen and (max-width: 640px) {
    .banner__logo {
      display: none; } }

.banner__title {
  margin-bottom: 76px; }
  @media screen and (max-width: 1200px) {
    .banner__title {
      margin-bottom: 45px; } }
  @media screen and (max-width: 991px) {
    .banner__title {
      margin-bottom: 35px; } }
  @media screen and (max-width: lg) {
    .banner__title {
      margin-bottom: 35px; } }

.banner__link {
  font-size: 19px;
  color: #4a4a4a;
  font-style: italic;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 4px;
  margin-left: 5px;
  transition: 350ms ease; }
  @media screen and (max-width: 991px) {
    .banner__link {
      font-size: 17px; } }
  @media screen and (max-width: lg) {
    .banner__link {
      font-size: 17px; } }
  @media screen and (max-width: 767px) {
    .banner__link {
      font-size: 16px;
      letter-spacing: 2px;
      margin-left: 0; } }
  @media screen and (max-width: md) {
    .banner__link {
      font-size: 16px;
      letter-spacing: 2px;
      margin-left: 0; } }
  .banner__link:hover {
    transition: 350ms ease;
    text-decoration: none;
    color: #4a4a4a; }
    .banner__link:hover::before {
      width: 100%;
      transition: 350ms ease; }
      @media screen and (max-width: 640px) {
        .banner__link:hover::before {
          left: 0;
          transform: translateX(0); } }
    .banner__link:hover::after {
      transition: 350ms ease;
      transform: translate(100%, -50%); }
  .banner__link::before {
    content: '';
    background-color: #d0021b;
    height: 3px;
    width: 80%;
    position: absolute;
    left: -2px;
    top: -15px;
    transition: 350ms ease; }
    @media screen and (max-width: 640px) {
      .banner__link::before {
        left: 50%;
        transform: translateX(-50%); } }
  .banner__link::after {
    content: '>';
    color: #d0021b;
    font-size: 19px;
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    transition: 350ms ease; }
    @media screen and (max-width: 640px) {
      .banner__link::after {
        display: none; } }

.basic-block {
  background-color: #4a4a4a;
  padding: 90px 15px 111px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }
  @media screen and (max-width: 991px) {
    .basic-block {
      padding: 60px 15px; } }
  @media screen and (max-width: lg) {
    .basic-block {
      padding: 60px 15px; } }
  @media screen and (max-width: 767px) {
    .basic-block {
      padding: 30px 15px; } }
  @media screen and (max-width: md) {
    .basic-block {
      padding: 30px 15px; } }

.basic-block__title {
  font-size: 80px;
  letter-spacing: .9px;
  color: #fff;
  font-weight: 500;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  margin-bottom: 10px; }
  @media screen and (max-width: 1200px) {
    .basic-block__title {
      font-size: 70px; } }
  @media screen and (max-width: 991px) {
    .basic-block__title {
      font-size: 60px; } }
  @media screen and (max-width: lg) {
    .basic-block__title {
      font-size: 60px; } }
  @media screen and (max-width: 767px) {
    .basic-block__title {
      font-size: 45px; } }
  @media screen and (max-width: md) {
    .basic-block__title {
      font-size: 45px; } }
  @media screen and (max-width: 640px) {
    .basic-block__title {
      font-size: 35px;
      margin-bottom: 5px; } }
  @media screen and (max-width: 576px) {
    .basic-block__title {
      font-size: 30px; } }
  @media screen and (max-width: sm) {
    .basic-block__title {
      font-size: 30px; } }
  .basic-block__title sup {
    font-weight: 600;
    font-size: 80%;
    top: -15px; }

.basic-block__title-bold {
  font-weight: 600; }

.basic-block__title-tiny {
  font-weight: 400; }

.basic-block__title-small {
  font-size: 13px;
  text-transform: uppercase; }

.basic-block__subtitle {
  display: block;
  font-size: 52px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #fff; }
  @media screen and (max-width: 1200px) {
    .basic-block__subtitle {
      font-size: 45px; } }
  @media screen and (max-width: 991px) {
    .basic-block__subtitle {
      font-size: 37px; } }
  @media screen and (max-width: lg) {
    .basic-block__subtitle {
      font-size: 37px; } }
  @media screen and (max-width: 767px) {
    .basic-block__subtitle {
      font-size: 27px; } }
  @media screen and (max-width: md) {
    .basic-block__subtitle {
      font-size: 27px; } }
  @media screen and (max-width: 640px) {
    .basic-block__subtitle {
      font-size: 25px; } }
  @media screen and (max-width: 576px) {
    .basic-block__subtitle {
      font-size: 20px; } }
  @media screen and (max-width: sm) {
    .basic-block__subtitle {
      font-size: 20px; } }

.story-block {
  background-color: #FBE7CF;
  overflow: hidden; }

.story-block__container {
  padding: 0; }

@media screen and (max-width: 991px) {
  .story-block__img-wrapper {
    padding-right: 0; } }

@media screen and (max-width: lg) {
  .story-block__img-wrapper {
    padding-right: 0; } }

@media screen and (max-width: 767px) {
  .story-block__img-wrapper {
    min-height: 300px;
    display: flex;
    justify-content: center; } }

@media screen and (max-width: md) {
  .story-block__img-wrapper {
    min-height: 300px;
    display: flex;
    justify-content: center; } }

@media screen and (max-width: 576px) {
  .story-block__img-wrapper {
    min-height: 150px;
    max-height: 235px; } }

@media screen and (max-width: sm) {
  .story-block__img-wrapper {
    min-height: 150px;
    max-height: 235px; } }

.story-block__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: fill; }
  @media screen and (max-width: 576px) {
    .story-block__img {
      object-fit: cover;
      width: 100%; } }
  @media screen and (max-width: sm) {
    .story-block__img {
      object-fit: cover;
      width: 100%; } }

.story-block__content-wrapper {
  align-items: center;
  display: flex;
  padding-left: 153px;
  padding-right: 50px;
  position: relative; }
  @media screen and (max-width: 1200px) {
    .story-block__content-wrapper {
      padding-left: 0;
      padding-right: 0;
      justify-content: center; } }
  @media screen and (max-width: 991px) {
    .story-block__content-wrapper {
      padding: 0 15px; } }
  @media screen and (max-width: lg) {
    .story-block__content-wrapper {
      padding: 0 15px; } }
  @media screen and (max-width: 576px) {
    .story-block__content-wrapper {
      padding: 30px 15px; } }
  @media screen and (max-width: sm) {
    .story-block__content-wrapper {
      padding: 30px 15px; } }

@media screen and (max-width: 991px) {
  .story-block__content {
    padding-right: 15px;
    padding-left: 15px; } }

@media screen and (max-width: lg) {
  .story-block__content {
    padding-right: 15px;
    padding-left: 15px; } }

@media screen and (max-width: 576px) {
  .story-block__content {
    text-align: center; } }

@media screen and (max-width: sm) {
  .story-block__content {
    text-align: center; } }

.story-block__content-mark {
  position: absolute;
  top: 0;
  right: 10px; }
  @media screen and (max-width: 1200px) {
    .story-block__content-mark {
      width: 300px; } }
  @media screen and (max-width: 991px) {
    .story-block__content-mark {
      width: 200px; } }
  @media screen and (max-width: lg) {
    .story-block__content-mark {
      width: 200px; } }
  @media screen and (max-width: 767px) {
    .story-block__content-mark {
      width: 150px; } }
  @media screen and (max-width: md) {
    .story-block__content-mark {
      width: 150px; } }

.story-block__content-title {
  margin-bottom: 96px; }
  @media screen and (max-width: 1024px) {
    .story-block__content-title {
      margin-bottom: 50px; } }
  @media screen and (max-width: 991px) {
    .story-block__content-title {
      margin-bottom: 30px; } }
  @media screen and (max-width: lg) {
    .story-block__content-title {
      margin-bottom: 30px; } }

.story-block__content-subtitle {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 1px;
  margin-bottom: 3px; }
  @media screen and (max-width: 576px) {
    .story-block__content-subtitle {
      font-size: 16px; } }
  @media screen and (max-width: sm) {
    .story-block__content-subtitle {
      font-size: 16px; } }

.story-block__content-text {
  max-width: 385px;
  width: 100%;
  letter-spacing: 1.9px;
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 36px; }
  @media screen and (max-width: 991px) {
    .story-block__content-text {
      line-height: 1.4;
      margin-bottom: 20px;
      max-width: 100%; } }
  @media screen and (max-width: lg) {
    .story-block__content-text {
      line-height: 1.4;
      margin-bottom: 20px;
      max-width: 100%; } }
  @media screen and (max-width: 767px) {
    .story-block__content-text {
      max-width: 85%; } }
  @media screen and (max-width: md) {
    .story-block__content-text {
      max-width: 85%; } }
  @media screen and (max-width: 576px) {
    .story-block__content-text {
      max-width: 100%; } }
  @media screen and (max-width: sm) {
    .story-block__content-text {
      max-width: 100%; } }

.story-block__content-link {
  font-size: 20px;
  color: #d0021b;
  text-transform: uppercase;
  letter-spacing: 3.4px;
  font-weight: 500;
  font-style: italic;
  position: relative;
  transition: 350ms ease; }
  @media screen and (max-width: 991px) {
    .story-block__content-link {
      font-size: 18px; } }
  @media screen and (max-width: lg) {
    .story-block__content-link {
      font-size: 18px; } }
  @media screen and (max-width: 576px) {
    .story-block__content-link {
      font-size: 16px; } }
  @media screen and (max-width: sm) {
    .story-block__content-link {
      font-size: 16px; } }
  .story-block__content-link:hover {
    color: #4a4a4a;
    transition: 350ms ease;
    text-decoration: none; }
    .story-block__content-link:hover::after {
      color: #4a4a4a;
      transition: 350ms ease; }
  .story-block__content-link::after {
    content: '>';
    color: #d0021b;
    font-size: 19px;
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    transition: 350ms ease; }

.list-section {
  padding: 112px 0 45px; }
  @media screen and (max-width: 640px) {
    .list-section {
      padding-bottom: 20px; } }

.list-section__container {
  padding: 84px 15px 63px;
  position: relative; }
  @media screen and (max-width: 767px) {
    .list-section__container {
      padding: 60px 15px 50px; } }
  @media screen and (max-width: md) {
    .list-section__container {
      padding: 60px 15px 50px; } }
  @media screen and (max-width: 640px) {
    .list-section__container {
      padding-bottom: 30px; } }
  @media screen and (max-width: 400px) {
    .list-section__container {
      padding-bottom: 0; } }
  .list-section__container::before, .list-section__container::after {
    content: '';
    background-color: #d0021b;
    max-width: 95%;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  .list-section__container::before {
    top: 0;
    z-index: 1; }
  .list-section__container::after {
    bottom: 0; }

.list-section__title {
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 0 28px;
  z-index: 2; }
  @media screen and (max-width: 991px) {
    .list-section__title {
      top: -24px; } }
  @media screen and (max-width: lg) {
    .list-section__title {
      top: -24px; } }
  @media screen and (max-width: 767px) {
    .list-section__title {
      letter-spacing: 0; } }
  @media screen and (max-width: md) {
    .list-section__title {
      letter-spacing: 0; } }
  @media screen and (max-width: 640px) {
    .list-section__title {
      top: -14px;
      font-size: 25px;
      padding: 0 15px; } }
  @media screen and (max-width: 400px) {
    .list-section__title {
      top: -24px;
      text-align: center; } }

.list-section__row {
  justify-content: center; }

.list-section__item-wrap {
  min-width: 300px;
  margin-bottom: 30px; }
  @media screen and (max-width: 767px) {
    .list-section__item-wrap {
      max-width: 50%; } }
  @media screen and (max-width: md) {
    .list-section__item-wrap {
      max-width: 50%; } }
  @media screen and (max-width: 640px) {
    .list-section__item-wrap {
      max-width: 100%; } }

.list-section__item {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media screen and (max-width: 640px) {
    .list-section__item {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center; } }

.list-section__item-img-wrap {
  width: 77px;
  height: 77px;
  margin-bottom: 22px; }
  @media screen and (max-width: 767px) {
    .list-section__item-img-wrap {
      margin-bottom: 10px; } }
  @media screen and (max-width: md) {
    .list-section__item-img-wrap {
      margin-bottom: 10px; } }
  @media screen and (max-width: 640px) {
    .list-section__item-img-wrap {
      order: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px; } }
  @media screen and (max-width: 337px) {
    .list-section__item-img-wrap {
      margin-right: 0; } }

.list-section__item-img {
  max-width: 100%;
  width: 100%;
  max-height: 100%; }

.list-section__item-title-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  margin-bottom: 11px;
  min-height: 66px; }
  @media screen and (max-width: 767px) {
    .list-section__item-title-wrap {
      min-height: 50px; } }
  @media screen and (max-width: md) {
    .list-section__item-title-wrap {
      min-height: 50px; } }
  @media screen and (max-width: 640px) {
    .list-section__item-title-wrap {
      order: 1;
      width: 100%;
      min-height: 15px; } }

.list-section__item-title {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #d0021b;
  letter-spacing: 1.6px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: italic;
  line-height: 18px; }
  @media screen and (max-width: 767px) {
    .list-section__item-title br {
      display: none; } }
  @media screen and (max-width: md) {
    .list-section__item-title br {
      display: none; } }

.list-section__item-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 640px) {
    .list-section__item-list {
      order: 3;
      width: 65%;
      align-items: flex-start; } }
  @media screen and (max-width: 337px) {
    .list-section__item-list {
      width: 100%;
      align-items: center; } }

.list-section__item-list-item {
  font-size: 15px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #4a4a4a;
  letter-spacing: 1.5px;
  padding-left: 10px;
  position: relative;
  text-align: center;
  line-height: 1.58; }
  @media screen and (max-width: 640px) {
    .list-section__item-list-item {
      text-align: left;
      line-height: 1.1; } }
  @media screen and (max-width: 337px) {
    .list-section__item-list-item {
      text-align: center; } }
  .list-section__item-list-item:not(:last-child) {
    margin-bottom: 9px; }
  .list-section__item-list-item::before {
    content: '+';
    position: absolute;
    top: 1px;
    left: -5px;
    color: #4a4a4a; }

.list-section__note {
  font-size: 13px;
  color: #4a4a4a;
  display: block;
  text-align: left;
  padding-left: 42px;
  padding-top: 5px;
  letter-spacing: .1px; }
  @media screen and (max-width: 400px) {
    .list-section__note {
      text-align: center;
      padding-left: 0; } }

.hero-section {
  padding-top: 26px; }
  @media screen and (max-width: 640px) {
    .hero-section {
      padding-top: 10px; } }

.hero-section__container {
  text-align: center;
  margin-bottom: 75px; }
  @media screen and (max-width: 767px) {
    .hero-section__container {
      margin-bottom: 45px; } }
  @media screen and (max-width: md) {
    .hero-section__container {
      margin-bottom: 45px; } }
  @media screen and (max-width: 640px) {
    .hero-section__container {
      margin-bottom: 15px; } }

.hero-section__title {
  margin-bottom: 27px; }
  @media screen and (max-width: 640px) {
    .hero-section__title {
      margin-bottom: 20px; } }

.hero-section__text {
  letter-spacing: 2px;
  line-height: 1.7;
  margin-bottom: 38px; }
  @media screen and (max-width: 991px) {
    .hero-section__text br {
      display: none; } }
  @media screen and (max-width: lg) {
    .hero-section__text br {
      display: none; } }
  @media screen and (max-width: 767px) {
    .hero-section__text {
      margin-bottom: 25px; } }
  @media screen and (max-width: md) {
    .hero-section__text {
      margin-bottom: 25px; } }
  @media screen and (max-width: 640px) {
    .hero-section__text {
      font-size: 16px;
      line-height: 1.4;
      margin-bottom: 15px;
      letter-spacing: 1px; } }

.hero-section__text-link {
  display: inline-block;
  position: relative;
  transition: 350ms ease;
  cursor: pointer; }
  .hero-section__text-link:hover::before {
    background-color: #4a4a4a;
    transition: 350ms ease; }
  .hero-section__text-link::before {
    content: '';
    background-color: #d0021b;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 350ms ease; }

.hero-section__link {
  font-size: 21px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 2.9px;
  color: #d0021b;
  transition: 350ms ease;
  position: relative; }
  @media screen and (max-width: 767px) {
    .hero-section__link {
      font-size: 18px; } }
  @media screen and (max-width: md) {
    .hero-section__link {
      font-size: 18px; } }
  .hero-section__link:hover {
    color: #4a4a4a;
    transition: 350ms ease;
    text-decoration: none; }
    .hero-section__link:hover::after {
      color: #4a4a4a;
      transition: 350ms ease; }
  .hero-section__link::after {
    content: '>';
    color: #d0021b;
    font-size: 19px;
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    transition: 350ms ease; }

.hero-section__img-wrap {
  width: 100%;
  max-width: 100%; }

.hero-section__img {
  width: 100%;
  max-width: 100%; }

.logo-section {
  padding: 65px 0 121px; }
  .logo-section .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto 0; }
    .logo-section .slick-dots li {
      font-size: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #fff;
      border: 1px solid #000;
      margin: 0 5px;
      transition: 350ms ease; }
    .logo-section .slick-dots li.slick-active {
      box-shadow: 0px 0px 8px 0px black;
      transition: 350ms ease; }
    .logo-section .slick-dots button {
      opacity: 0;
      height: 100%;
      width: 100%; }

.logo-section__title {
  text-align: center;
  margin-bottom: 80px; }

.logo-section__box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px; }

.logo-section__box-img {
  max-width: 100%;
  max-height: 100%; }

.logo-section__slider {
  opacity: 0; }

.logo-section__slider.slick-initialized {
  opacity: 1;
  transition: 350ms ease; }

.logo-section__slider-arrow {
  height: 45px;
  width: 45px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 350ms ease; }
  .logo-section__slider-arrow:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px 0px black; }
  .logo-section__slider-arrow i {
    font-family: "FontAwesome";
    color: #000;
    font-size: 20px;
    font-style: normal; }

.boxes {
  padding: 40px 0 52px; }

.boxes__link-wrap {
  text-align: right;
  margin-bottom: 32px;
  padding-right: 7px; }

.boxes__row {
  align-items: flex-start; }

.boxes__link {
  text-transform: uppercase;
  color: #d0021b;
  font-style: italic;
  position: relative;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 500; }
  .boxes__link:hover {
    color: #4a4a4a;
    transition: 350ms ease;
    text-decoration: none; }
    .boxes__link:hover::after {
      color: #4a4a4a;
      transition: 350ms ease; }
  .boxes__link::after {
    content: '>';
    color: #d0021b;
    font-size: 19px;
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    transition: 350ms ease; }

.boxes__box-wrap {
  display: flex;
  justify-content: center;
  align-items: center; }

.boxes__box {
  display: flex;
  max-width: 395px;
  width: 100%;
  transition: 350ms ease;
  cursor: pointer; }
  .boxes__box:hover .boxes__box-right-img {
    opacity: .3;
    transition: 350ms ease; }

.boxes__box-left-date {
  font-size: 66px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  max-height: 299px;
  padding: 23px 0 66px;
  align-items: center;
  font-weight: 700;
  max-width: 108px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background-color: #4a4a4a;
  color: #f5e9db; }

.boxes__box-left-date-num {
  font-family: Arial, Helvetica, sans-serif; }

.boxes__box-left-date-month {
  display: block;
  transform: rotate(-90deg);
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -2px;
  font-size: 59px;
  color: #fff; }

.boxes__box-right-img-wrap {
  max-width: 290px;
  width: 100%;
  max-height: 299px;
  transition: 350ms ease; }

.boxes__box-right-content {
  padding-top: 14px;
  padding-left: 3px; }

.boxes__box-right-content-title {
  font-size: 23px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  display: block;
  margin-bottom: 7px;
  color: #d0021b; }

.boxes__box-right-content-text {
  letter-spacing: 1.9px;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 1px; }

.boxes__box-right-content-time {
  letter-spacing: 2.3px;
  font-weight: 500;
  color: #4a4a4a;
  opacity: .6; }

.basic-text {
  background-color: #f6f4f5;
  padding: 86px 0 86px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }
  @media screen and (max-width: 991px) {
    .basic-text {
      padding: 65px 0; } }
  @media screen and (max-width: lg) {
    .basic-text {
      padding: 65px 0; } }
  @media screen and (max-width: 767px) {
    .basic-text {
      padding: 45px 0; } }
  @media screen and (max-width: md) {
    .basic-text {
      padding: 45px 0; } }
  @media screen and (max-width: 640px) {
    .basic-text {
      padding: 30px 0; } }

.basic-text__title {
  margin-bottom: 20px; }

.basic-text__link {
  text-transform: uppercase;
  color: #d0021b;
  font-style: italic;
  position: relative;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 500; }
  @media screen and (max-width: 767px) {
    .basic-text__link {
      font-size: 18px; } }
  @media screen and (max-width: md) {
    .basic-text__link {
      font-size: 18px; } }
  .basic-text__link:hover {
    color: #4a4a4a;
    transition: 350ms ease;
    text-decoration: none; }
    .basic-text__link:hover::after {
      color: #4a4a4a;
      transition: 350ms ease; }
  .basic-text__link::after {
    content: '>';
    color: #d0021b;
    font-size: 19px;
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    transition: 350ms ease; }
