/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.footer {
    background-color: $gray-dark;
}

.footer__inner {
    padding: 91px 48px 32px;
    display: flex;
    justify-content: space-between;
}

.footer__left {
    padding-top: 13px;
}

.footer__left-list-wrap {
    margin-bottom: 30px;
}

.footer__left-list {

}

.footer__left-list-item {
    &:not(:last-child) {
        margin-bottom: 5px;
    }
}

.footer__left-list-link {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -.2px;
    font-family: $font-main;
    color: $white;
    position: relative;
    transition: $dur $ease;
    display: inline-block;

    &:hover {
        text-decoration: none;
        color: $white;

        &::after {
            width: 100%;
            opacity: 1;
            transition: $dur $ease;
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        opacity: 0;
        width: 1%;
        height: 1px;
        background-color: $white;
        transition: $dur $ease;
    }
}

.footer__left-logo-wrap {
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.footer__right {
    max-width: 250px;
    width: 100%;
    text-align: right;
}

.footer__right-list-wrap {
    margin-bottom: 5px;
}

.footer__right-list-title {
    display: block;
    color: $spanish;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .6px;
    font-family: $font-main;
    font-size: 16px;
}

.footer__right-list {
    &:first-of-type {
        margin-bottom: 31px;
    }
}

.footer__right-list-item {

}

.footer__right-list-link {
    color: $silver;
    letter-spacing: 1px;
    font-weight: 500;
    transition: $dur $ease;
    font-family: $font-main;
    display: block;

    &:hover {
        text-decoration: none;
        color: $silver;

        .underline {
            background-size: 100% 100%;
        }
    }
}

.footer__right-icon-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 135px;
    margin-left: auto;
    margin-bottom: 8px;
}

.footer__right-icon-link {
    &:hover {
        text-decoration: none;
        color: $spanish;
    }

    i {
        font-family: $font-icon;
        color: $spanish;
        font-size: 15px;
        font-size: 30px;
        font-style: normal;
    }
}

.footer__right-copyright {
    display: block;
    color: $spanish;
    font-size: 14px;
    letter-spacing: 1px;
}