/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
.nav__wrapper {
    padding: 37px 30px 37px 28px;
    position: relative;

    @include mq(lg) {
        display: none;
    }
}

.nav {

}

.nav__list {
    display: flex;
}

.nav__list-item {
    &:not(:last-child) {
        margin-right: 48px;
    }
}

.nav__list-item-link {
    color: $gray;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 2px;
    transition: $dur $ease;
    text-transform: uppercase;
    font-weight: 600;
    font-family: $font-main;

    &:hover {
        color: $red;
        transition: $dur $ease;
        text-decoration: none;
    }
}

.nav__login {
    position: absolute;
    right: -73px;
    top: 90px;
    transform: rotate(90deg);
    
    span {
        color: $red;
        font-weight: 700;
        font-size: 14px;
        margin: 0 3px;
    }
}

.nav__login-link {
    @extend .nav__list-item-link;
    color: $red;

    &:hover {
        color: $gray;
    }
}