/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
.nav__wrapper {
    padding: 37px 30px 37px 28px;
    position: relative;

    @include mq(lg) {
        position: absolute;
        right: 0;
        top: 0;
        width: 300px;
        padding: 70px 15px;
        background-color: $white;
        height: 100vh;
        transform: translateX(100%);
        transition: $dur $ease;
    }
}

.nav__wrapper--active {
    transform: translateX(0);
    transition: $dur $ease;
}

.nav {
    @include mq(lg) {
        justify-content: center;
    }
}

.nav__list {
    display: flex;

    @include mq(lg) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.nav__list-item {
    &:not(:last-child) {
        margin-right: 48px;

        @include mq(lg) {
            margin-right: 0;
        }
    }
    
    @include mq(lg) {
        border-bottom: 1px solid rgba($gray, .5);
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }
}

.nav__list-item-link {
    color: $gray;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 2px;
    transition: $dur $ease;
    text-transform: uppercase;
    font-weight: 600;
    font-family: $font-main;

    &:hover {
        color: $red;
        transition: $dur $ease;
        text-decoration: none;
    }
}

.nav__login {
    position: absolute;
    right: -73px;
    top: 90px;
    transform: rotate(90deg);

    @include mq(lg) {
        position: static;
        transform: rotate(0);
        right: auto;
        top: auto;
        text-align: center;
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }
    
    span {
        color: $red;
        font-weight: 700;
        font-size: 14px;
        margin: 0 3px;
    }
}

.nav__login-link {
    @extend .nav__list-item-link;
    color: $red;

    &:hover {
        color: $gray;
    }
}