.basic-block {
    background-color: $gray;
    padding: 90px 15px 111px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    @include mq(lg) {
        padding: 60px 15px;
    }

    @include mq(md) {
        padding: 30px 15px;
    }
}

.basic-block__title {
    font-size: 80px;
    letter-spacing: .9px;
    color: $white;
    font-weight: 500;
    font-family: $font-main;
    margin-bottom: 10px;

    @include mq(xl) {
        font-size: 70px;
    }

    @include mq(lg) {
        font-size: 60px;
    }

    @include mq(md) {
        font-size: 45px;
    }

    @include mq(640px) {
        font-size: 35px;
        margin-bottom: 5px;
    }

    @include mq(sm) {
        font-size: 30px;
    }

    sup {
        font-weight: 600;
        font-size: 80%;
        top: -15px;
    }
}

.basic-block__title-bold {
    font-weight: 600;
}

.basic-block__title-tiny {
    font-weight: 400;
}

.basic-block__title-small {
    font-size: 13px;
    text-transform: uppercase;
}

.basic-block__subtitle {
    display: block;
    font-size: 52px;
    letter-spacing: 2px;
    font-weight: 500;
    color: $white;

    @include mq(xl) {
        font-size: 45px;
    }

    @include mq(lg) {
        font-size: 37px;
    }

    @include mq(md) {
        font-size: 27px;
    }

    @include mq(640px) {
        font-size: 25px;
    }

    @include mq(sm) {
        font-size: 20px;
    }
}
