.boxes {
    padding: 40px 0;
}

.boxes__link-wrap {
    text-align: right;
    margin-bottom: 32px;
    padding-right: 7px;
}

.boxes__row {
    align-items: flex-start;
}

.boxes__link {
    text-transform: uppercase;
    color: $red;
    font-style: italic;
    position: relative;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 500;

    &:hover {
        color: $gray;
        transition: $dur $ease;
        text-decoration: none;

        &::after {
            color: $gray;
            transition: $dur $ease;
        }
    }

    &::after {
        content: '>';
        color: $red;
        font-size: 19px;
        position: absolute;
        right: -25px;
        top: 50%;
        transform: translateY(-50%);
        transition: $dur $ease;
    }
}

.boxes__box-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes__box {
    display: flex;
    max-width: 395px;
    width: 100%;
    transition: $dur $ease;
    cursor: pointer;

    &:hover {
        .boxes__box-right-img {
            opacity: .3;
            transition: $dur $ease;
        }
    }
}

.boxes__box-left {

}

.boxes__box-left-date {
    font-size: 66px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    max-height: 299px;
    padding: 23px 0 66px;
    align-items: center;
    font-weight: 700;
    max-width: 108px;
    font-family: $font-main;
    background-color: $gray;
    color: $spanish;
}

.boxes__box-left-date-num {
    font-family: Arial, Helvetica, sans-serif;
}

.boxes__box-left-date-month {
    display: block;
    transform: rotate(-90deg);
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-size: 59px;
    color: $white;
}

.boxes__box-right {

}

.boxes__box-right-img-wrap {
    max-width: 290px;
    width: 100%;
    max-height: 299px;
    transition: $dur $ease;
}

.boxes__box-right-img {

}

.boxes__box-right-content {
    padding-top: 14px;
    padding-left: 3px;
}

.boxes__box-right-content-title {
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    display: block;
    margin-bottom: 7px;
    color: $red;
}

.boxes__box-right-content-text {
    letter-spacing: 1.9px;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 1px;
}

.boxes__box-right-content-time {
    letter-spacing: 2.3px;
    font-weight: 500;
    color: $gray;
    opacity: .6;
}