.hero-section {
    padding-top: 26px;

    @include mq(640px) {
        padding-top: 10px;
    }
}

.hero-section__container {
    text-align: center;
    margin-bottom: 75px;

    @include mq(md) {
        margin-bottom: 45px;
    }

    @include mq(640px) {
        margin-bottom: 15px;
    }
}

.hero-section__title {
    margin-bottom: 27px;

    @include mq(640px) {
        margin-bottom: 20px;
    }
}

.hero-section__text {
    letter-spacing: 2px;
    line-height: 1.7;
    margin-bottom: 38px;

    @include mq(lg) {
        br {
            display: none;
        }
    }

    @include mq(md) {
        margin-bottom: 25px;
    }

    @include mq(640px) {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 15px;
        letter-spacing: 1px;
    }
}

.hero-section__text-link {
    display: inline-block;
    position: relative;
    transition: $dur $ease;
    cursor: pointer;

    &:hover {
        &::before {
            background-color: $gray;
            transition: $dur $ease;
        }
    }

    &::before {
        content: '';
        background-color: $red;
        height: 2px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: $dur $ease;
    }
}

.hero-section__link {
    font-size: 21px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 2.9px;
    color: $red;
    transition: $dur $ease;
    position: relative;

    @include mq(md) {
        font-size: 18px;
    }

    &:hover {
        color: $gray;
        transition: $dur $ease;
        text-decoration: none;

        &::after {
            color: $gray;
            transition: $dur $ease;
        }
    }

    &::after {
        content: '>';
        color: $red;
        font-size: 19px;
        position: absolute;
        right: -25px;
        top: 50%;
        transform: translateY(-50%);
        transition: $dur $ease;
    }
}

.hero-section__img-wrap {
    width: 100%;
    max-width: 100%;
}

.hero-section__img {
    width: 100%;
    max-width: 100%;
}