.list-section {
    padding: 112px 0 45px;
}

.list-section__container {
    padding: 84px 15px 93px;
    position: relative;

    &::before,
    &::after {
        content: '';
        background-color: $red;
        max-width: 95%;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &::before {
        top: 0;
        z-index: 1;
    }

    &::after {
        bottom: 0;
    }
}

.list-section__title {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $white;
    padding: 0 28px;
    z-index: 2;
}

.list-section__row {

}

.list-section__item-wrap {

}

.list-section__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-section__item-img-wrap {
    width: 77px;
    height: 77px;
    margin-bottom: 22px;
}

.list-section__item-img {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
}

.list-section__item-title-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    margin-bottom: 11px;
    min-height: 66px;
}

.list-section__item-title {
    font-family: $font-main;
    font-size: 15px;
    color: $red;
    letter-spacing: 1.6px;
    font-weight: 600;
    text-transform: uppercase;
    font-style: italic;
    line-height: 18px;
}

.list-section__item-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-section__item-list-item {
    font-size: 15px;
    font-family: $font-main;
    font-weight: 500;
    color: $gray;
    letter-spacing: 1.5px;
    padding-left: 10px;
    position: relative;
    text-align: center;
    line-height: 1.58;
    
    &:not(:last-child) {
        margin-bottom: 9px;
    }

    &::before {
        content: '+';
        position: absolute;
        top: 1px;
        left: -5px;
        color: $gray;
    }
}

.list-section__note {
    font-size: 13px;
    color: $gray;
    display: block;
    text-align: left;
    padding-left: 42px;
    padding-top: 5px;
    letter-spacing: .1px;
}