.logo-section {
    padding: 65px 0 121px;
}

.logo-section__title {
    text-align: center;
    margin-bottom: 80px;
}

.logo-section__wrap {
    padding-left: 48px;
    padding-right: 26px;
}

.logo-section__box-wrap {
    
}

.logo-section__box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logo-section__box-img {
    max-width: 100%;
    max-height: 100%;
}