.story-block {
    background-color: $kajsija;
    overflow: hidden;
}

.story-block__container {
    padding: 0;
}

.story-block__img-wrapper {
    @include mq(lg) {
        padding-right: 0;
    }

    @include mq(md) {
        min-height: 300px;
        display: flex;
        justify-content: center;
    }
}

.story-block__img {
    max-width: 100%;
    max-height: 100%;
}

.story-block__content-wrapper {
    align-items: center;
    display: flex;
    padding-left: 153px;
    padding-right: 50px;
    position: relative;

    @include mq(xl) {
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
    }

    @include mq(lg) {
        padding: 0 15px;
    }
}

.story-block__content {
    @include mq(lg) {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.story-block__content-mark {
    position: absolute;
    top: 0;
    right: 10px;

    @include mq(xl) {
        width: 300px;
    }

    @include mq(lg) {
        width: 200px;
    }

    @include mq(md) {
        width: 150px;
    }
}

.story-block__content-title {
    margin-bottom: 96px;

    @include mq(1024px) {
        margin-bottom: 50px;
    }

    @include mq(lg) {
        margin-bottom: 30px;
    }
}

.story-block__content-subtitle {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1px;
    margin-bottom: 3px;
}

.story-block__content-text {
    max-width: 385px;
    width: 100%;
    letter-spacing: 1.9px;
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 36px;

    @include mq(lg) {
        line-height: 1.4;
        margin-bottom: 20px;
        max-width: 100%;
    }

    @include mq(md) {
        max-width: 85%;
    }
}

.story-block__content-link {
    font-size: 20px;
    color: $red;
    text-transform: uppercase;
    letter-spacing: 3.4px;
    font-weight: 500;
    font-style: italic;
    position: relative;
    transition: $dur $ease;

    @include mq(lg) {
        font-size: 18px;
    }

    &:hover {
        color: $gray;
        transition: $dur $ease;
        text-decoration: none;

        &::after {
            color: $gray;
            transition: $dur $ease;
        }
    }

    &::after {
        content: '>';
        color: $red;
        font-size: 19px;
        position: absolute;
        right: -25px;
        top: 50%;
        transform: translateY(-50%);
        transition: $dur $ease;
    }
}