// Fonts
$font-main: 'Montserrat', Arial, Helvetica, sans-serif;
$font-second: Arial, Helvetica, sans-serif;
$font-icon: 'FontAwesome';

// Colors
$white: #fff;
$black: #000;
$red: #d0021b;
$green: #4fc08d;
$blue: #3d9cd2;
$gray: #4a4a4a;
$gray-dark: #262626;
$gray-darker: #252525;
$spanish: #f5e9db;
$silver: #e4e6e5;
$kajsija: #FBE7CF;
$wild: #f6f4f5;

// Transitions
$dur: 350ms;
$ease: ease;