.page-title {
	color: $gray-darker;
	font-size: 80px;
	font-weight: 500;
	letter-spacing: 1.17px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.1;

	@include mq(xl) {
		font-size: 75px;
	}

	@include mq(lg) {
		font-size: 55px;
	}

	@include mq(md) {
		font-size: 45px;
	}

	@include mq(640px) {
		font-size: 35px;
	}
}

.section-title {
	color: $black;
	font-size: 77px;
	font-weight: 700;
	font-family: $font-second;
	letter-spacing: 1.8px;
	
	@include mq(lg) {
		font-size: 55px;
		line-height: 1.1;
	}

	@include mq(md) {
		font-size: 40px;
	}

	@include mq(640px) {
		font-size: 35px;
	}

	@include mq(sm) {
		font-size: 30px;
	}
}

.section-title--line {
	position: relative;
	display: inline-block;

	&::after {
        content: '';
        background-color: $red;
        height: 3px;
		width: 66%;
		position: absolute;
		left: 6px;
		bottom: -14px;
		transition: $dur $ease;
		
		@include mq(sm) {
			left: 50%;
			transform: translateX(-50%);
		}
    }
}

.section-title--small {
	font-size: 46px;
	letter-spacing: 2.17px;
	
	@include mq(md) {
		font-size: 40px;
	}

	@include mq(640px) {
		font-size: 35px;
		letter-spacing: .17px;
	}

	@include mq(sm) {
		font-size: 30px;
	}

	sup {
		color: $red;
	}
}